<div class="card" style="width: 18rem;">
  {{!-- <img src="..." class="card-img-top" alt="..."> --}}
  <div class="card-body">
    <h5 class="card-title">{{address}}</h5>
    <p class="card-text">{{description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Minimum Credit Score: {{creditScore}}</li>
    <li class="list-group-item">Rent: ${{rent}}</li>
    <li class="list-group-item">Preffered Gender: {{gender}}</li>
    <li class="list-group-item">Is Smoking Allowed: {{smoking}}</li>

  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>