<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 data-id="{{id}}" class="card-title">{{addres}} {{lastName}}</h5>
    <p class="card-text">{{roommate.bio}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{gender}}</li>
    <li class="list-group-item">Budget: ${{roommate.budget}}</li>
    <li class="list-group-item">Preffered Gender: {{roommate.prefferedGender}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
